@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html, body {
  font-family: 'Open Sans', sans-serif;
}

.space{
  height: 1px;
}

.part {
  margin: 20px;
}

legend{
  margin: 5px;
  font-weight: 800;
}

.checkbox{
  margin-left: 50px;
  text-align: start;
}

.form_body{
  background-color: rgb(223, 131, 131);
  width:500px;
  white-space: nowrap;
  border-radius: 30px;
}

.form_text{
  margin: 40px;
}

.form > button {
  font-size: 16px;
  margin: 20px;
}

.title {
  font-size: 28px;
  margin: 40px;
}

.color_b{
  position: relative;
  top: 50%;
}
